html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.main {
  height: 100vh;
  display: flex;
  align-items: center;
}
html.has-scroll-smooth {
  /* overflow: hidden; */
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.random-image {
  object-fit: contain;
}
.card-image {
  padding: 50px 10px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.saved {
  position: fixed;
  top: 30px;
  right: 40px;
}
.title {
  background: #000000;
  height: 100vh;
  padding: 60px;
}
.title h1 {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  font-size: 6rem;
  text-align: center;
  color: white;
}
