:root {
  --dark-mode: #1e1e1d;
  --light-mode: white;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.Container-light {
  background: var(--light-mode);
  color: var(--dark-mode);
}
.Container-dark {
  background-color: var(--dark-mode);
  color: var(--light-mode);
}

.main {
  height: 100vh;
  display: flex;
  align-items: center;
}
html.has-scroll-smooth {
  /* overflow: hidden; */
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.random-image {
  object-fit: contain;
  cursor: pointer;
}
.card-image {
  padding: 50px 10px;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.saved {
  position: fixed;
  top: 30px;
  right: 40px;
}

.title h1 {
  font-size: 3rem;
  text-align: center;
  padding: 50px 30px;
  width: 500px;
  margin-left: 15px;
}
.author {
  overflow: hidden;
}
.author h2 {
  padding: 0 40px;
}
.load-more > div {
  width: 90vw;
}
.card-container {
  display: flex;
}

.light-div {
  width: 100px;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 50px;
  cursor: pointer;
}

.load-more div h1 {
  font-size: 10rem;
  cursor: pointer;
  text-decoration: underline;
}
